$headerHeight: 4rem;
$menuWidth: 4rem;
$bg: #f5f6f8;
$active: #fd7991;
$main: rgba(53, 152, 219, 0.8);

@mixin fixedTopInFullPage() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@mixin centerEntirely() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin textOverflow() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
li.list {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &.active {
    background-color: #d4eeff;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    max-width: 150px;
    .name {
      text-align: left;
      font-size: 14px;
      color: #333;
      @include textOverflow();
    }
    .msg {
      text-align: left;
      font-size: 12px;
      @include textOverflow();
    }
  }
  .time {
    align-self: center;
  }
}
